*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Inter", sans-serif;
}

body{
    display:flex;
    background:#f5f5f5;
}

/* MAIN */

main{
    flex:1;
    padding:35px;
}

main h1{
    color:#10b981;
    font-size:50px;
    margin-bottom:30px;
}

/* TOP CARDS */

.cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.top-card{
    background:#fff;
    border-radius:15px;
    padding:20px;
    display:flex;
    align-items:center;
    gap:15px;
    width: 530px;
    height: 130px;
    border: solid 2px #cdcdcd;
}

.icon-card{
    width:45px;
    height:45px;
    border-radius:50%;
    background:#d7f5ea;

    display:flex;
    align-items:center;
    justify-content:center;

    color:#10b981;
}

/* ACTIONS */

.top-actions{
    margin-top:30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.search-box{
    position:relative;
    
}

.search-box input{
    width: 550px;
    height: 50px;
    border:none;
    border-radius:10px;
    padding-left:45px;
    font-size:15px;
    border: 2px solid #888;
}

.search-box i{
    position:absolute;
    left:15px;
    top:50%;
    transform:translateY(-50%);
}

.btn{
    height: 50px;
    width: 300px;
    background:#10b981;
    border:none;
    border-radius:10px;
    padding: 14px 22px;;
    cursor:pointer;
    margin-right: 90px;
    
}

.btn a{
    color:#fff;
    text-decoration: none;
    text-align: center;
    font-weight:600;
    padding: 0px 50px;;
}
/* GRID */

.grid-assinaturas{
    margin-top:30px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.assinatura-card{
    background:#fff;
    border-radius:15px;
    padding:20px;
}

.card-header{
    display:flex;
    align-items:center;
    gap:10px;
}

.netflix-logo{
    width:35px;
    height:35px;
    border-radius:8px;
    background:#000;

    color:red;
    font-weight:bold;

    display:flex;
    align-items:center;
    justify-content:center;
}

.vencimento{
    color:red;
    text-align:center;
    margin-top:10px;
    font-size:14px;
}

.assinatura-card h2{
    text-align:center;
    margin-top:5px;
}

.barra{
    width:100%;
    height:6px;
    background:#ddd;
    border-radius:20px;
    margin-top:15px;
}

.barra-fill{
    width:88%;
    height:100%;
    background:#ff4b4b;
    border-radius:20px;
}

.buttons-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.buttons-card a,
.buttons-card button{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 12px;
    border: 1px solid #dcdcdc;
    background: #fff;
    text-decoration: none;
    font-size: 18px;
    color: #555;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}

.buttons-card .pagar{
    border: 2px solid #10b981;
    color: #10b981;    
}


/* OVERLAY ESCURO */
.modal-overlay,
.success-overlay {
    position: fixed;
    inset: 0;

    background: rgba(0,0,0,.35);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;

    transition: .3s;

    z-index: 9999;
}

.modal-overlay.active,
.success-overlay.active {
    opacity: 1;
    visibility: visible;
}   

/* QUANDO ABRIR */
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* CAIXA DO MODAL */
.modal {
  width: 600px;
  background: #fff;

  border-radius: 20px;

  padding: 35px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.15);

  animation: aparecer 0.3s ease;
}

.modal h2 {
  color: #00a86b;
  font-size: 38px;
  margin-bottom: 30px;
}

/* ÁREA DA FOTO */
.upload-area {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 30px;
}

.upload-circle {
  width: 100px;
  height: 100px;

  border: 2px solid #d9d9d9;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 40px;
  color: #bdbdbd;

  margin-bottom: 10px;
}

/* INPUTS */
.modal input,
.modal textarea {
  width: 100%;

  border: 1px solid #ddd;
  border-radius: 10px;

  padding: 15px;

  margin-bottom: 20px;

  font-size: 16px;

  outline: none;
}

.modal textarea {
  resize: none;
  height: 100px;
}

/* BOTÃO */
.modal button {
  width: 100%;

  background: #10b981;
  color: white;

  border: none;
  border-radius: 10px;

  padding: 16px;

  font-size: 18px;
  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;

   margin-bottom: 20px;
}

.modal button:hover {
  background: #0e9f6e;
}

/* ANIMAÇÃO */
@keyframes aparecer {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.success-box {
  width: 420px;
  height: 320px;

  background: white;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 30px;
}

.check-icon {
  width: 90px;
  height: 90px;

  border: 3px solid #10b981;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 50px;
  color: #10b981;
}

.success-box p {
  color: #10b981;
  font-size: 24px;
  font-weight: bold;
}
.btn-editar{

    margin-top: 18px;

    width: 100%;
    height: 42px;

    border: none;
    border-radius: 12px;

    background: #111827;
    color: white;

    font-size: 14px;
    font-weight: 600;

    cursor: pointer;

    transition: 0.3s ease;

}

.btn-editar:hover{

    transform: translateY(-2px);

    opacity: 0.92;

}

.btn-editar:active{

    transform: scale(0.98);

}

.card-pago{

    border: 2px solid #22c55e;

    background:
        linear-gradient(
            135deg,
            rgba(34,197,94,0.08),
            rgba(34,197,94,0.02)
        );
}

.btn-pago{

    background: #22c55e;

    color: white;

    cursor: default;
}
